* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.filter-tabs {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(187, 222, 251, 0.25),
    2px 0px 7px rgba(227, 242, 253, 0.5);
  margin-top: 100px;
}

.filter-tabs li {
  position: relative;
  display: flex;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(187, 222, 251, 0.25),
    2px 0px 7px rgba(227, 242, 253, 0.5);
  height: 3rem;
  width: 180px;
  height: 60px;
  font-size: 18px;
}

.filter-slider-rect {
  margin-right: -180px;
  color: black;
  height: 60px;
  width: 180px;
  box-shadow: 2px 2px 2px rgba(187, 222, 251, 0.25);
  border-radius: 40px;
  background-color: #e3f2fd;
  box-shadow: 0px 2px 2px rgba(187, 222, 251, 0.25),
    2px 0px 7px rgba(227, 242, 253, 0.5);
  transition: transform 0.5s ease-in-out;
  transform: translateX(var(--translate-filters-slider));
}
