* {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}
$border: 1px solid #bbdefb;
$color: #0d36a6;

.table {
  width: 950px;
  margin: 100px auto;
  border: $border;
  .total {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background: #5fb3fb;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      width: 1fr;
      &:nth-child(1) {
        width: 230px;
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
    }
  }
}

.region {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  .container {
    display: flex;
    flex-direction: column;

    > header {
      display: grid;
      grid-template-columns: 230px 720px;
      grid-template-rows: 168px;

      > ul {
        display: grid;
        grid-template-columns: 230px;
        border: $border;
        > li {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }

      > div {
        display: grid;
        grid-template-columns: 720px;
        > span {
          border: $border;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
        }
        > div {
          display: grid;
          grid-template-columns: repeat(4, 180px);

          > section {
            display: grid;
            grid-template-columns: 60px 60px 60px;
            grid-template-rows: 60px 77px;
            grid-template-areas: "a a a";

            > div {
              border: $border;
              display: flex;
              justify-content: center;
              align-items: center;
              grid-area: a;
            }

            > span {
              display: grid;
              grid-template-rows: 1fr 30px;
              grid-area: a;

              > span {
                display: flex;
                justify-content: center;
                align-items: center;
                border: $border;
              }
            }
            > li {
              justify-self: stretch;
              align-self: stretch;
              border: $border;
              display: flex;
              align-items: center;
              text-align: center;
              > span {
                transform: rotate(-90deg);
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    > main {
      font-size: 14px;
      text-decoration: none;
      > ul {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          list-style-type: none;
          text-align: center;
          border: $border;
          &:nth-child(1) {
            width: 228px;
          }
        }
      }
    }
  }
  > ul {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background: #70ccfa;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      width: 1fr;
      &:nth-child(1) {
        width: 228px;
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
    }
  }
}
