* {
  margin: 0;
  padding: 0;
}
$border: 1px solid #bbdefb;
$color: #0d36a6;

.table {
  width: 1002px;
  margin: 100px auto;
  border: $border;
  .total {
    font-size: 14px;
    display: grid;
    grid-template-columns:
      230px 55px 50px repeat(4, 46.75px)
      repeat(2, 47.5px) repeat(8, 48.13px);
    background: #5fb3fb;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      width: 1fr;
      &:nth-child(1) {
        width: 230px;
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
    }
  }
}

.region {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  > span {
    height: 40px;
    background: #bbdefb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }
  .classes {
    display: flex;
    flex-direction: column;

    > span {
      height: 40px;
      color: $color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
    }
    > header {
      font-size: 12px;
      display: grid;
      grid-template-columns: 230px 387px 385px;
      grid-template-rows: 150px;
      > span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: $border;
        font-size: 12px;
      }
      > section {
        display: grid;
        grid-template-rows: 40px 110px;

        > .title {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: $border;
        }
        > div {
          display: grid;
          grid-template-columns: 292px 95px;
          > .passed {
            display: grid;
            grid-auto-rows: 30px 80px;
            > p {
              display: flex;
              justify-content: center;
              align-items: center;
              border: $border;
            }
            > ul {
              display: grid;
              grid-template-columns: 55px 50px 1fr 1fr;
              > li {
                display: flex;
                justify-content: center;
                align-items: center;
                border: $border;
                > span {
                  transform: rotate(-90deg);
                  width: 60px;
                }
              }
              > div {
                display: grid;
                grid-template-rows: 20px 60px;
                > span {
                  text-align: center;
                  border: $border;
                }
                > ul {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  > li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: $border;
                    > span {
                      transform: rotate(-90deg);
                      width: 44px;
                    }
                  }
                }
              }
            }
          }
          > .notPassed {
            display: grid;
            grid-template-rows: 30px 80px;
            > p {
              display: flex;
              justify-content: center;
              align-items: center;
              border: $border;
            }
            > ul {
              display: grid;
              grid-template-columns: 1fr 1fr;
              > li {
                display: flex;
                justify-content: center;
                align-items: center;
                border: $border;
                > span {
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }
      }
      > .secondPart {
        display: grid;
        grid-template-rows: 40px 110px;
        > div {
          display: grid;
          grid-template-columns: 1fr 1fr;
          > section {
            display: grid;
            grid-template-rows: 30px 80px;
            > p {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              border: $border;
            }
            > div {
              display: grid;
              grid-template-columns: 1fr 1fr;
              > div {
                display: grid;
                grid-template-rows: 20px 60px;
                > span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: $border;
                }
                > ul {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  > li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: $border;
                    > span {
                      transform: rotate(-90deg);
                      width: 44px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    > main {
      font-size: 14px;
      text-decoration: none;
      > ul {
        display: grid;
        grid-template-columns:
          230px 55px 50px repeat(4, 46.75px)
          repeat(2, 47.5px) repeat(8, 48.13px);
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          list-style-type: none;
          text-align: center;
          border: $border;
        }
      }
    }
  }
  > ul {
    font-size: 14px;
    display: grid;
    grid-template-columns:
      230px 55px 50px repeat(4, 46.75px)
      repeat(2, 47.5px) repeat(8, 48.13px);
    background: #70ccfa;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      &:nth-child(1) {
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
    }
  }
}
