* {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}
$border: 1px solid #bbdefb;
$color: #0d36a6;

.table {
  width: 1230px;
  border: $border;
  margin: 100px auto;
  .total {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    background: #5fb3fb;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      width: 1fr;
      &:nth-child(1) {
        width: 248px;
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
      &:nth-child(12) {
        width: 110px;
      }
      &:nth-child(13) {
        width: 93px;
      }
      &:nth-child(14) {
        width: 90px;
      }
    }
  }
}

.region {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  > span {
    height: 40px;
    background: #bbdefb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }
  .classes {
    display: flex;
    flex-direction: column;

    > span {
      height: 40px;
      color: $color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
    }
    > header {
      font-size: 14px;
      display: grid;
      grid-template-columns: 250px 680px auto;
      background: #bbdefb;
      > ul {
        &:first-child {
          display: flex;
          > li {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            border-right: 1px solid #fff;
          }
        }

        &:nth-child(2) {
          display: grid;
          grid-template-rows: 50px 60px;
          align-items: center;
          > span {
            text-align: center;
          }

          > span:last-child {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            border-top: 1px solid #fff;
            > li {
              border-right: 1px solid #fff;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        &:nth-child(3) {
          display: flex;
          border-left: 1px solid #fff;
          > li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #fff;
            text-align: center;
            > span {
              padding: 10px;
            }
            &:nth-child(1) {
              width: 110px;
            }
            &:nth-child(2) {
              width: 93px;
            }
            &:nth-child(3) {
              width: 95px;
            }
          }
        }
      }
    }
    > main {
      font-size: 14px;
      text-decoration: none;
      > ul {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          list-style-type: none;
          text-align: center;
          border: $border;
          width: 1fr;
          &:nth-child(1) {
            width: 106px;
          }
          &:nth-child(2) {
            width: 138px;
          }
          &:nth-child(13) {
            width: 110px;
          }
          &:nth-child(14) {
            width: 93px;
          }
          &:nth-child(15) {
            width: 90px;
          }
        }
      }
    }
  }
  > ul {
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    background: #70ccfa;

    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      list-style-type: none;
      text-align: center;
      width: 1fr;
      &:nth-child(1) {
        width: 248px;
        display: flex;
        justify-content: flex-end;
        > span {
          padding-right: 30px;
        }
      }
      &:nth-child(12) {
        width: 110px;
      }
      &:nth-child(13) {
        width: 93px;
      }
      &:nth-child(14) {
        width: 90px;
      }
    }
  }
}
